body{
    font-family: 'Roboto', sans-serif;
}
.logo img{
    width:  118.07px;
}
.background{
    background-color: #F0FFF0;
}
.background img{
    width: 100%;
    background:  #F0FFF0;
    
}
.upper-background{
    background-color: #F0FFF0;
}
.green-highlight{
    color: #21B573
}
.sign-in{
    background-color:#21B573;
    color: #fff;
    border: none;
    border-radius: 33px;
    padding: 2px 10px;
    cursor: pointer;
}
.catagories img{
    width: 100px;
}
.bg-3rd{
    background-color: #F0FFF0;
    padding-top: 40px;
    border: none;
}
.bg-3rd-dif{
    background-color: white;
    padding-top: 40px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 8px 8px 8px lightgray;
}
.course{
    border: none;
    border-radius: 10px;
    box-shadow: 0px 8px 8px 8px lightgray;
}
.next{
    color: #413960;
    text-align: center;
    margin-bottom: 50px;
}
.card-text{
    color: gray;
}
.man img{
    height:120px;
    width: 120px;
    margin-left: 150px;
}
.man-text{
    margin-top: 20px;
    padding-right: 70px;
}
.card-footer{
    border: none;
    background-color: white;
}
.footer-bg{
    background-color: #282531;
    color: white;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 100px;
}
.ftr{
    background-color: #282531;
    text-align: center;
    padding-top: 50px;
    color: white;
    font-weight: lighter;
}
.exp{
    text-align: center;
}
.special li:nth-child(2n+1){
    background-image: linear-gradient(45deg,indianred,lawngreen);
}

